@font-face {
    font-family: ocrastd;
    src: url(../fonts/ocrastd.otf);
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'helvetica';
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 1200px;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 1em;
}

.marketing-message {
    font-family: ocrastd;
    text-align: center;
}

.speaker_name {
    font-size: 1.75em;
}

.talk_title {
    font-size: 1.33333em;
}

.push {
    margin-top: 7em;
}

.navbar {
    font-size: 1.25em;
    font-family: ocrastd;
    background: rgb(6, 24, 38);
    vertical-align: middle;
}

.navbar .nav > li > a {
    color: rgb(253, 205, 172);
    padding: 1.5em;
}

.navbar .nav > li > a:hover {
    border-radius: 0.3em;
    color: rgb(85, 85, 85);
    background-color: rgb(231, 231, 231);
}


